In [143]:
import pandas as pd
import nltk
from nltk.tokenize import WordPunctTokenizer
import requests
import numpy as np

In [188]:
df = pd.read_csv("airbnb_clean.csv")
df["roomTypes"].nunique()

32

In [170]:
print(df["roomTypes"].unique())
types = []
for t in df["roomTypes"].unique():
    types.append(t)

['Room in boutique hotel' 'Private room in loft' 'Entire home'
 'Shared room in boutique hotel' 'Private room in rental unit'
 'Room in hotel' 'Entire loft' 'Entire serviced apartment'
 'Entire rental unit' 'Private room in bed and breakfast'
 'Room in aparthotel' 'Entire place' 'Entire townhouse' 'Entire villa'
 'Tower' 'Room in bed and breakfast' 'Private room in hostel' 'Boat'
 'Private room in home' 'Shared room in hostel' 'Private room in condo'
 'Entire guest suite' 'Shared room in hotel' 'Private room in villa'
 'Shared room in rental unit' 'Entire guesthouse' 'Shared room in condo'
 'Private room in townhouse' 'Private room in castle' 'Entire condo'
 'Private room in tiny home' 'Tiny home']

In [124]:
dt = df

In [189]:
print(df)

      id                                         adresse  latitude  longitude  \
0      1                                   Paris, France  48.87224    2.38256
1      2       Fontenay-sous-Bois, Île-de-France, France  48.85203    2.49099
2      3   Chennevières-sur-Marne, Île-de-France, France  48.80571    2.53881
3      4                    Paris, Île-de-France, France  48.88962    2.34995
4      5                    Paris, Île-de-France, France  48.82846    2.38006
..   ...                                             ...       ...        ...
703  704                    Paris, Île-de-France, France  48.88152    2.33293
704  705                    Paris, Île-de-France, France  48.88001    2.33293
705  706              Montmorency, Île-de-France, France  48.99481    2.33114
706  707                Montreuil, Île-de-France, France  48.86361    2.44240
707  708  Paris-2E-Arrondissement, Île-de-France, France  48.86800    2.35100

                                            noms  numberOfGuests prices  \
0                               Classique Double               2   $992
1                              Loft Green Design               2   $962
2      Propriété des fossés verts Paris & Disney              15   $668
3                                     Disponible               1   $906
4                      75 Avenue de France House               2   $590
..                                           ...             ...    ...
703                  Hotel Joke*** Superior room               2   $233
704        Hotel Joyce*** - Standard Single room               1   $184
705  Montmorency, adorable maison sans vis à vis               2    $89
706                 Hôtel avec restaurant coréen               2    $90
707                                  Cosy studio               2   $123

                         roomTypes  rating
0           Room in boutique hotel     NaN
1             Private room in loft     NaN
2                      Entire home     5.0
3    Shared room in boutique hotel     4.5
4      Private room in rental unit     NaN
..                             ...     ...
703         Room in boutique hotel     5.0
704         Room in boutique hotel     5.0
705                      Tiny home     4.5
706    Private room in rental unit     4.5
707             Entire rental unit     4.5

[708 rows x 9 columns]

In [172]:
#roomtypes cleaning
anc = []
room = ['room', 'Room']
home = ['Entire','home', 'Home', 'entire']
#print(WordPunctTokenizer().tokenize(df["roomTypes"][0]))
for t in df["roomTypes"]:
    token = WordPunctTokenizer().tokenize(t)
    e = 0
    for tk in token:
        if tk in room:
            e = 1
        elif tk in home:
            e = 2
    if e==1: t= 'Room'
    elif e==2: t= 'Entire Home'
    else: t= 'Others'
    anc.append(t)
print(anc)

['Room', 'Room', 'Entire Home', 'Room', 'Room', 'Entire Home', 'Room', 'Entire Home', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Entire Home', 'Entire Home', 'Entire Home', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Entire Home', 'Entire Home', 'Room', 'Room', 'Entire Home', 'Room', 'Entire Home', 'Entire Home', 'Entire Home', 'Room', 'Room', 'Room', 'Room', 'Entire Home', 'Entire Home', 'Room', 'Room', 'Room', 'Room', 'Entire Home', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Entire Home', 'Room', 'Room', 'Room', 'Room', 'Room', 'Entire Home', 'Entire Home', 'Entire Home', 'Entire Home', 'Entire Home', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Entire Home', 'Room', 'Entire Home', 'Room', 'Room', 'Entire Home', 'Room', 'Entire Home', 'Entire Home', 'Entire Home', 'Room', 'Room', 'Room', 'Entire Home', 'Room', 'Entire Home', 'Entire Home', 'Room', 'Entire Home', 'Entire Home', 'Others', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Entire Home', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Entire Home', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Others', 'Room', 'Room', 'Entire Home', 'Room', 'Entire Home', 'Room', 'Room', 'Entire Home', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Entire Home', 'Room', 'Room', 'Room', 'Room', 'Room', 'Entire Home', 'Room', 'Room', 'Entire Home', 'Room', 'Entire Home', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Entire Home', 'Room', 'Room', 'Entire Home', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Entire Home', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Entire Home', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Entire Home', 'Entire Home', 'Entire Home', 'Entire Home', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Entire Home', 'Room', 'Room', 'Entire Home', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Entire Home', 'Room', 'Entire Home', 'Room', 'Room', 'Entire Home', 'Room', 'Room', 'Room', 'Entire Home', 'Entire Home', 'Room', 'Room', 'Entire Home', 'Entire Home', 'Entire Home', 'Entire Home', 'Entire Home', 'Room', 'Room', 'Room', 'Room', 'Room', 'Entire Home', 'Room', 'Entire Home', 'Room', 'Room', 'Room', 'Entire Home', 'Entire Home', 'Room', 'Room', 'Room', 'Entire Home', 'Room', 'Entire Home', 'Room', 'Room', 'Room', 'Entire Home', 'Room', 'Room', 'Entire Home', 'Entire Home', 'Room', 'Room', 'Room', 'Entire Home', 'Room', 'Room', 'Room', 'Room', 'Room', 'Entire Home', 'Room', 'Room', 'Room', 'Room', 'Entire Home', 'Entire Home', 'Entire Home', 'Room', 'Entire Home', 'Entire Home', 'Entire Home', 'Room', 'Room', 'Room', 'Entire Home', 'Room', 'Room', 'Entire Home', 'Room', 'Entire Home', 'Entire Home', 'Entire Home', 'Entire Home', 'Entire Home', 'Entire Home', 'Entire Home', 'Room', 'Room', 'Entire Home', 'Entire Home', 'Room', 'Entire Home', 'Room', 'Room', 'Room', 'Room', 'Room', 'Entire Home', 'Room', 'Entire Home', 'Entire Home', 'Entire Home', 'Entire Home', 'Room', 'Room', 'Room', 'Entire Home', 'Entire Home', 'Room', 'Entire Home', 'Room', 'Entire Home', 'Entire Home', 'Room', 'Entire Home', 'Entire Home', 'Room', 'Room', 'Room', 'Room', 'Room', 'Entire Home', 'Room', 'Room', 'Room', 'Entire Home', 'Room', 'Room', 'Entire Home', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Entire Home', 'Entire Home', 'Room', 'Room', 'Entire Home', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Entire Home', 'Room', 'Entire Home', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Entire Home', 'Room', 'Room', 'Room', 'Entire Home', 'Room', 'Room', 'Room', 'Room', 'Entire Home', 'Room', 'Room', 'Room', 'Entire Home', 'Room', 'Room', 'Room', 'Entire Home', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Entire Home', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Entire Home', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Entire Home', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Entire Home', 'Room', 'Room', 'Room', 'Room', 'Room', 'Entire Home', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Entire Home', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Entire Home', 'Room', 'Room', 'Room', 'Entire Home', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Entire Home', 'Room', 'Entire Home', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Entire Home', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Entire Home', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Entire Home', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Entire Home', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Entire Home', 'Room', 'Entire Home', 'Room', 'Room', 'Room', 'Room', 'Entire Home', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Entire Home', 'Room', 'Room', 'Entire Home', 'Entire Home', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Entire Home', 'Room', 'Entire Home']

In [190]:
#roomtypes cleaning encoding
troom = []
room = ['room', 'Room']
home = ['Entire','home', 'Home', 'entire']
#print(WordPunctTokenizer().tokenize(df["roomTypes"][0]))
for t in df["roomTypes"]:
    token = WordPunctTokenizer().tokenize(t)
    e = 0
    for tk in token:
        if tk in room:
            e = 1
        elif tk in home:
            e = 2
    if e==1: t= 1
    elif e==2: t= 2
    else: t= 0
    troom.append(t)
print(troom)

[1, 1, 2, 1, 1, 2, 1, 2, 1, 1, 1, 1, 1, 1, 2, 2, 2, 1, 1, 1, 1, 1, 1, 2, 2, 1, 1, 2, 1, 2, 2, 2, 1, 1, 1, 1, 2, 2, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 2, 1, 1, 2, 1, 2, 2, 2, 1, 1, 1, 2, 1, 2, 2, 1, 2, 2, 0, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 2, 1, 2, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 2, 1, 1, 2, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 2, 1, 2, 1, 1, 2, 1, 1, 1, 2, 2, 1, 1, 2, 2, 2, 2, 2, 1, 1, 1, 1, 1, 2, 1, 2, 1, 1, 1, 2, 2, 1, 1, 1, 2, 1, 2, 1, 1, 1, 2, 1, 1, 2, 2, 1, 1, 1, 2, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 2, 2, 2, 1, 2, 2, 2, 1, 1, 1, 2, 1, 1, 2, 1, 2, 2, 2, 2, 2, 2, 2, 1, 1, 2, 2, 1, 2, 1, 1, 1, 1, 1, 2, 1, 2, 2, 2, 2, 1, 1, 1, 2, 2, 1, 2, 1, 2, 2, 1, 2, 2, 1, 1, 1, 1, 1, 2, 1, 1, 1, 2, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 2, 1, 2, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 2, 1, 1, 1, 1, 2, 1, 1, 1, 2, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 2, 1, 2, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 2, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 2]

In [191]:
#Average values
a = df['rating'].mode()
df["rating"].fillna(4.5, inplace = True)

In [174]:
def geocommune(lat, lon):
    params = "lat={latitude}&lon={longitude}".format(
        latitude = lat,
        longitude = lon
    )
    base_url = 'https://geo.api.gouv.fr/communes?'
    response = requests.get(base_url, params=params)
    data = response.json()
    nom = data[0]['nom']
    if nom =='Paris':
        par = "lat={latitude}&lon={longitude}&type={t}".format(
        latitude = lat,
        longitude = lon,
        t = "arrondissement-municipal"
        )
        re = requests.get(base_url, params=par)
        d = re.json()
        nom = d[0]['nom']
    return nom
nom_commune = []
for i,j in zip(df["latitude"], df['longitude']):
    nom_commune.append(geocommune(i, j))
print(len(nom_commune))
print(nom_commune)

708
['Paris 20e Arrondissement', 'Fontenay-sous-Bois', 'Chennevières-sur-Marne', 'Paris 18e Arrondissement', 'Paris 13e Arrondissement', 'Chennevières-sur-Marne', 'Paris 10e Arrondissement', 'Paris 11e Arrondissement', 'Épinay-sur-Seine', 'Paris 10e Arrondissement', 'Paris 10e Arrondissement', 'Paris 18e Arrondissement', 'Paris 15e Arrondissement', 'Paris 10e Arrondissement', 'Paris 10e Arrondissement', 'Paris 16e Arrondissement', 'Paris 17e Arrondissement', 'Paris 16e Arrondissement', 'Paris 11e Arrondissement', 'Paris 9e Arrondissement', 'Gentilly', 'Paris 16e Arrondissement', 'Paris 5e Arrondissement', 'Paris 19e Arrondissement', 'Paris 16e Arrondissement', 'Paris 15e Arrondissement', 'Paris 5e Arrondissement', 'Suresnes', 'Paris 16e Arrondissement', 'Nogent-sur-Marne', 'Rosny-sous-Bois', 'Clamart', 'Paris 8e Arrondissement', 'Paris 3e Arrondissement', 'Paris 9e Arrondissement', 'Paris 10e Arrondissement', 'Bonneuil-sur-Marne', 'Clamart', 'Paris 16e Arrondissement', 'Paris 8e Arrondissement', 'Paris 7e Arrondissement', 'Paris 3e Arrondissement', 'Cormeilles-en-Parisis', 'Paris 7e Arrondissement', 'Paris 6e Arrondissement', 'Paris 8e Arrondissement', 'Paris 16e Arrondissement', 'Paris 16e Arrondissement', 'Paris 18e Arrondissement', 'Bagneux', 'Paris 8e Arrondissement', 'Paris 7e Arrondissement', 'Paris 8e Arrondissement', 'Paris 8e Arrondissement', 'Paris 4e Arrondissement', 'Malakoff', 'Paris 8e Arrondissement', 'Puteaux', 'Paris 9e Arrondissement', 'Paris 15e Arrondissement', 'Paris 1er Arrondissement', 'Paris 8e Arrondissement', 'Paris 5e Arrondissement', 'Paris 2e Arrondissement', 'Paris 8e Arrondissement', 'Paris 8e Arrondissement', 'Paris 8e Arrondissement', 'Paris 9e Arrondissement', 'Paris 8e Arrondissement', 'Paris 3e Arrondissement', 'Paris 16e Arrondissement', 'Paris 9e Arrondissement', 'Paris 8e Arrondissement', 'Paris 9e Arrondissement', 'Paris 6e Arrondissement', 'Paris 10e Arrondissement', 'Paris 4e Arrondissement', 'Paris 19e Arrondissement', 'Paris 5e Arrondissement', 'Paris 11e Arrondissement', 'Paris 15e Arrondissement', 'Paris 3e Arrondissement', 'Paris 8e Arrondissement', 'Paris 1er Arrondissement', 'Paris 3e Arrondissement', 'Paris 10e Arrondissement', 'Paris 8e Arrondissement', 'Paris 7e Arrondissement', 'Paris 7e Arrondissement', 'Paris 7e Arrondissement', 'Argenteuil', 'Paris 8e Arrondissement', 'Le Plessis-Trévise', 'Yerres', 'Paris 1er Arrondissement', 'Longjumeau', 'Soisy-sur-Seine', 'Puteaux', 'Paris 8e Arrondissement', 'Paris 8e Arrondissement', 'Paris 17e Arrondissement', 'Paris 8e Arrondissement', 'Paris 10e Arrondissement', 'Paris 8e Arrondissement', 'Paris 7e Arrondissement', 'Paris 9e Arrondissement', 'Paris 17e Arrondissement', 'Paris 6e Arrondissement', 'Paris 11e Arrondissement', 'Paris 13e Arrondissement', 'Paris 8e Arrondissement', 'Paris 9e Arrondissement', 'Paris 4e Arrondissement', 'Paris 9e Arrondissement', 'Paris 15e Arrondissement', 'Paris 2e Arrondissement', 'Paris 14e Arrondissement', 'Paris 1er Arrondissement', 'Paris 15e Arrondissement', 'Paris 15e Arrondissement', 'Paris 8e Arrondissement', 'Paris 6e Arrondissement', 'Paris 2e Arrondissement', 'Paris 10e Arrondissement', 'Paris 1er Arrondissement', 'Paris 4e Arrondissement', 'Paris 6e Arrondissement', 'Paris 15e Arrondissement', 'Paris 8e Arrondissement', 'Paris 5e Arrondissement', 'Paris 8e Arrondissement', 'Paris 10e Arrondissement', 'Paris 18e Arrondissement', 'Paris 8e Arrondissement', 'Paris 8e Arrondissement', 'Paris 3e Arrondissement', 'Paris 17e Arrondissement', 'Paris 16e Arrondissement', 'Paris 17e Arrondissement', 'Paris 10e Arrondissement', 'Paris 6e Arrondissement', 'Paris 17e Arrondissement', 'Paris 15e Arrondissement', 'Paris 8e Arrondissement', 'Paris 1er Arrondissement', 'Paris 17e Arrondissement', 'Paris 9e Arrondissement', 'Paris 2e Arrondissement', 'Paris 5e Arrondissement', 'Paris 1er Arrondissement', 'Paris 18e Arrondissement', 'Paris 1er Arrondissement', 'Paris 18e Arrondissement', 'Saint-Cloud', 'Paris 8e Arrondissement', 'Paris 1er Arrondissement', 'Paris 9e Arrondissement', 'Paris 5e Arrondissement', 'Paris 9e Arrondissement', 'Paris 10e Arrondissement', 'Paris 1er Arrondissement', 'Paris 1er Arrondissement', 'Paris 14e Arrondissement', 'Paris 12e Arrondissement', 'Paris 14e Arrondissement', 'Paris 1er Arrondissement', 'Paris 4e Arrondissement', 'Paris 8e Arrondissement', 'Paris 7e Arrondissement', 'Paris 2e Arrondissement', 'Paris 10e Arrondissement', 'Paris 8e Arrondissement', 'Paris 16e Arrondissement', 'Paris 6e Arrondissement', 'Paris 1er Arrondissement', 'Paris 5e Arrondissement', 'Paris 8e Arrondissement', 'Paris 6e Arrondissement', 'Paris 9e Arrondissement', 'Paris 16e Arrondissement', 'Paris 15e Arrondissement', 'Paris 2e Arrondissement', 'Paris 9e Arrondissement', 'Asnières-sur-Seine', 'Paris 9e Arrondissement', 'Paris 8e Arrondissement', 'Paris 18e Arrondissement', 'Paris 9e Arrondissement', 'Maisons-Alfort', 'Paris 16e Arrondissement', 'Paris 11e Arrondissement', 'Paris 19e Arrondissement', 'Paris 6e Arrondissement', 'Paris 2e Arrondissement', 'Paris 9e Arrondissement', 'Paris 17e Arrondissement', 'Paris 14e Arrondissement', 'Paris 9e Arrondissement', 'Paris 15e Arrondissement', 'Paris 9e Arrondissement', 'Paris 5e Arrondissement', 'Paris 11e Arrondissement', 'Paris 8e Arrondissement', 'Paris 9e Arrondissement', 'Paris 16e Arrondissement', 'Paris 1er Arrondissement', "Ville-d'Avray", 'Paris 5e Arrondissement', 'Paris 17e Arrondissement', 'Paris 14e Arrondissement', 'Paris 9e Arrondissement', 'Paris 16e Arrondissement', 'Paris 9e Arrondissement', 'Paris 8e Arrondissement', 'Paris 4e Arrondissement', 'Paris 4e Arrondissement', 'Paris 9e Arrondissement', 'Paris 4e Arrondissement', 'Paris 8e Arrondissement', 'Paris 8e Arrondissement', 'Paris 17e Arrondissement', 'Paris 5e Arrondissement', 'Paris 15e Arrondissement', 'Paris 15e Arrondissement', 'Paris 17e Arrondissement', 'Paris 5e Arrondissement', 'Paris 18e Arrondissement', 'Paris 17e Arrondissement', 'Paris 16e Arrondissement', 'Paris 16e Arrondissement', 'Paris 8e Arrondissement', 'Paris 8e Arrondissement', 'Paris 8e Arrondissement', 'Paris 16e Arrondissement', 'Paris 1er Arrondissement', 'Paris 2e Arrondissement', 'Paris 1er Arrondissement', 'Paris 15e Arrondissement', 'Paris 12e Arrondissement', 'Paris 3e Arrondissement', 'Paris 5e Arrondissement', 'Paris 9e Arrondissement', 'Paris 8e Arrondissement', 'Paris 9e Arrondissement', 'Paris 5e Arrondissement', 'Paris 3e Arrondissement', 'Paris 8e Arrondissement', 'Courbevoie', 'Paris 16e Arrondissement', 'Paris 4e Arrondissement', 'Paris 2e Arrondissement', 'Paris 3e Arrondissement', 'Paris 15e Arrondissement', 'Paris 15e Arrondissement', 'Paris 9e Arrondissement', 'Paris 11e Arrondissement', 'Paris 1er Arrondissement', 'Paris 9e Arrondissement', 'Paris 9e Arrondissement', 'Paris 5e Arrondissement', 'Paris 7e Arrondissement', 'Paris 2e Arrondissement', 'Paris 9e Arrondissement', 'Paris 11e Arrondissement', 'Paris 2e Arrondissement', 'Paris 16e Arrondissement', 'Paris 2e Arrondissement', 'Paris 9e Arrondissement', 'Paris 1er Arrondissement', 'Paris 3e Arrondissement', 'Paris 10e Arrondissement', 'Paris 6e Arrondissement', 'Paris 9e Arrondissement', 'Paris 16e Arrondissement', 'Paris 1er Arrondissement', 'Paris 2e Arrondissement', 'Paris 6e Arrondissement', 'Paris 15e Arrondissement', 'Paris 9e Arrondissement', 'Paris 7e Arrondissement', 'Paris 5e Arrondissement', 'Paris 1er Arrondissement', 'Paris 8e Arrondissement', 'Paris 8e Arrondissement', 'Paris 14e Arrondissement', 'Paris 8e Arrondissement', 'Paris 4e Arrondissement', 'Paris 5e Arrondissement', 'Paris 16e Arrondissement', 'Paris 2e Arrondissement', 'Paris 7e Arrondissement', 'Paris 8e Arrondissement', 'Paris 9e Arrondissement', 'Paris 8e Arrondissement', 'Paris 7e Arrondissement', 'Paris 2e Arrondissement', 'Paris 1er Arrondissement', 'Paris 5e Arrondissement', 'Paris 2e Arrondissement', 'Paris 2e Arrondissement', 'Paris 5e Arrondissement', 'Paris 2e Arrondissement', 'Paris 6e Arrondissement', 'Paris 15e Arrondissement', 'Paris 10e Arrondissement', 'Paris 10e Arrondissement', 'Paris 16e Arrondissement', 'Paris 10e Arrondissement', 'Paris 11e Arrondissement', 'Saint-Denis', 'Paris 20e Arrondissement', 'Pantin', 'Choisy-le-Roi', 'Paris 19e Arrondissement', 'Courbevoie', 'Neuilly-Plaisance', 'Puteaux', 'Paris 19e Arrondissement', 'Issy-les-Moulineaux', 'Bois-Colombes', 'Créteil', 'Paris 19e Arrondissement', 'Noisy-le-Grand', 'Paris 19e Arrondissement', 'Asnières-sur-Seine', 'Athis-Mons', 'Jouy-en-Josas', 'Colombes', 'Colombes', 'Montgeron', 'Villebon-sur-Yvette', 'Paris 8e Arrondissement', 'Charenton-le-Pont', 'Rueil-Malmaison', 'Saint-Denis', 'Rungis', 'Gagny', 'Saint-Denis', 'Massy', 'Courbevoie', 'Orly', 'Verrières-le-Buisson', 'Nanterre', 'Tremblay-en-France', 'Bobigny', 'Longjumeau', 'Arcueil', 'Vitry-sur-Seine', 'Colombes', 'Yerres', 'Boulogne-Billancourt', 'Massy', 'Maisons-Laffitte', 'Sarcelles', 'Bobigny', 'Bezons', 'Issy-les-Moulineaux', 'Villejuif', 'Gennevilliers', 'Créteil', 'Paray-Vieille-Poste', 'Levallois-Perret', 'Courbevoie', 'Sèvres', 'Orly', 'Palaiseau', 'Argenteuil', 'Massy', 'Stains', 'Jouy-en-Josas', 'Vitry-sur-Seine', 'Créteil', 'Vitry-sur-Seine', 'Châtenay-Malabry', 'Nanterre', 'Choisy-le-Roi', 'Villejuif', 'Maisons-Alfort', 'Bezons', 'Villejuif', 'Villeneuve-le-Roi', 'Saclay', 'Le Kremlin-Bicêtre', 'Houilles', 'Courbevoie', 'Nanterre', 'Chaville', 'Villecresnes', 'Argenteuil', 'Villejuif', 'Chilly-Mazarin', 'Villejuif', 'Villepinte', 'La Courneuve', 'Villejuif', 'Aulnay-sous-Bois', 'Pantin', 'Fontenay-aux-Roses', 'Issy-les-Moulineaux', 'Gennevilliers', 'Paris 19e Arrondissement', 'Le Pré-Saint-Gervais', 'Enghien-les-Bains', 'Rueil-Malmaison', 'Maisons-Alfort', 'Montreuil', 'Vincennes', 'Paris 16e Arrondissement', 'Gentilly', 'Argenteuil', 'Courbevoie', 'Aubervilliers', 'Paris 19e Arrondissement', 'Paris 15e Arrondissement', 'Asnières-sur-Seine', 'Villejuif', 'Courbevoie', 'Paris 19e Arrondissement', 'Vélizy-Villacoublay', 'Créteil', 'Vitry-sur-Seine', 'Aulnay-sous-Bois', 'Gentilly', 'Neuilly-Plaisance', 'Arcueil', 'Maisons-Alfort', 'Saint-Ouen-sur-Seine', 'Bois-Colombes', 'Paris 19e Arrondissement', 'Antony', 'Tremblay-en-France', 'Paris 19e Arrondissement', 'Aulnay-sous-Bois', 'Clichy', 'Paris 17e Arrondissement', 'Paris 13e Arrondissement', 'Paris 12e Arrondissement', 'Montrouge', 'Paris 12e Arrondissement', 'Paris 10e Arrondissement', 'Paris 15e Arrondissement', 'Paris 15e Arrondissement', 'Saint-Denis', 'Nanterre', 'Paris 10e Arrondissement', 'Vincennes', 'Paris 16e Arrondissement', 'Boulogne-Billancourt', 'Paris 19e Arrondissement', 'Saint-Ouen-sur-Seine', 'Paris 15e Arrondissement', 'Paris 17e Arrondissement', 'Asnières-sur-Seine', 'Paris 15e Arrondissement', 'Paris 18e Arrondissement', 'Paris 2e Arrondissement', 'Paris 9e Arrondissement', 'Paris 8e Arrondissement', 'Paris 18e Arrondissement', 'Paris 10e Arrondissement', 'Paris 2e Arrondissement', 'Paris 15e Arrondissement', 'Paris 15e Arrondissement', 'Paris 10e Arrondissement', 'Pantin', 'Paris 16e Arrondissement', 'Paris 14e Arrondissement', 'Paris 17e Arrondissement', 'Paris 18e Arrondissement', 'Paris 9e Arrondissement', 'Paris 9e Arrondissement', 'Paris 9e Arrondissement', 'Paris 9e Arrondissement', 'Paris 9e Arrondissement', 'Paris 8e Arrondissement', 'Paris 9e Arrondissement', 'Paris 8e Arrondissement', 'Paris 15e Arrondissement', 'Paris 2e Arrondissement', 'Paris 11e Arrondissement', 'Paris 9e Arrondissement', 'Paris 9e Arrondissement', 'Paris 15e Arrondissement', 'Paris 4e Arrondissement', 'Paris 8e Arrondissement', 'Paris 1er Arrondissement', 'Paris 2e Arrondissement', 'Paris 15e Arrondissement', 'Paris 16e Arrondissement', 'Paris 15e Arrondissement', 'Paris 11e Arrondissement', 'Paris 8e Arrondissement', 'Paris 9e Arrondissement', 'Paris 10e Arrondissement', 'Paris 15e Arrondissement', 'Paris 10e Arrondissement', 'Paris 13e Arrondissement', 'Paris 17e Arrondissement', 'Paris 1er Arrondissement', 'Paris 9e Arrondissement', 'Paris 3e Arrondissement', 'Paris 6e Arrondissement', 'Paris 15e Arrondissement', 'Paris 17e Arrondissement', 'Paris 17e Arrondissement', 'Paris 18e Arrondissement', 'Paris 12e Arrondissement', 'Paris 18e Arrondissement', 'Paris 14e Arrondissement', 'Paris 14e Arrondissement', 'Paris 3e Arrondissement', 'Paris 13e Arrondissement', 'Paris 9e Arrondissement', 'Paris 13e Arrondissement', 'Issy-les-Moulineaux', 'Paris 9e Arrondissement', 'Paris 10e Arrondissement', 'Paris 9e Arrondissement', 'Puteaux', 'Paris 10e Arrondissement', 'Paris 19e Arrondissement', 'Paris 11e Arrondissement', 'Paris 11e Arrondissement', 'Paris 15e Arrondissement', 'Paris 8e Arrondissement', 'Paris 15e Arrondissement', 'Neuilly-sur-Seine', 'Paris 18e Arrondissement', 'Paris 12e Arrondissement', 'Paris 14e Arrondissement', 'Ivry-sur-Seine', 'Paris 18e Arrondissement', 'Paris 17e Arrondissement', 'Paris 16e Arrondissement', 'Paris 11e Arrondissement', 'Paris 20e Arrondissement', 'Paris 20e Arrondissement', 'Paris 9e Arrondissement', 'Paris 14e Arrondissement', 'Paris 17e Arrondissement', 'Paris 8e Arrondissement', 'Paris 15e Arrondissement', 'Paris 14e Arrondissement', 'Puteaux', 'Paris 15e Arrondissement', 'Gentilly', 'Saint-Ouen-sur-Seine', 'Paris 9e Arrondissement', 'Paris 18e Arrondissement', 'Paris 14e Arrondissement', 'Saint-Ouen-sur-Seine', 'Paris 20e Arrondissement', 'Paris 18e Arrondissement', 'Paris 16e Arrondissement', 'Paris 4e Arrondissement', 'Paris 17e Arrondissement', 'Paris 13e Arrondissement', 'Issy-les-Moulineaux', 'Paris 16e Arrondissement', 'Paris 17e Arrondissement', 'Paris 18e Arrondissement', 'Paris 13e Arrondissement', 'Paris 10e Arrondissement', 'Paris 9e Arrondissement', 'Paris 14e Arrondissement', 'Paris 12e Arrondissement', 'Paris 13e Arrondissement', 'Paris 9e Arrondissement', 'Paris 17e Arrondissement', 'Paris 17e Arrondissement', 'Paris 9e Arrondissement', 'Paris 9e Arrondissement', 'Clichy', 'Paris 14e Arrondissement', 'Paris 9e Arrondissement', 'Paris 14e Arrondissement', 'Paris 14e Arrondissement', 'Paris 15e Arrondissement', 'Paris 17e Arrondissement', 'Paris 12e Arrondissement', 'Saint-Cloud', 'Paris 3e Arrondissement', 'Puteaux', 'Paris 1er Arrondissement', 'Paris 14e Arrondissement', 'Paris 17e Arrondissement', 'Paris 11e Arrondissement', 'Paris 8e Arrondissement', 'Paris 9e Arrondissement', 'Paris 9e Arrondissement', 'Saint-Cloud', 'Maisons-Alfort', 'Paris 15e Arrondissement', 'Paris 9e Arrondissement', 'Paris 18e Arrondissement', 'Paris 15e Arrondissement', 'Paris 8e Arrondissement', 'Paris 14e Arrondissement', 'Paris 20e Arrondissement', 'Clichy', 'Paris 17e Arrondissement', 'Paris 9e Arrondissement', 'Paris 20e Arrondissement', 'Paris 10e Arrondissement', 'Paris 11e Arrondissement', 'Malakoff', 'Paris 11e Arrondissement', 'Paris 15e Arrondissement', 'Paris 14e Arrondissement', 'Paris 6e Arrondissement', 'Paris 15e Arrondissement', 'Paris 17e Arrondissement', 'Paris 17e Arrondissement', 'Paris 9e Arrondissement', 'Paris 9e Arrondissement', 'Paris 9e Arrondissement', 'Paris 6e Arrondissement', 'Paris 15e Arrondissement', 'Paris 9e Arrondissement', 'Paris 8e Arrondissement', 'Paris 17e Arrondissement', 'Boulogne-Billancourt', 'Paris 8e Arrondissement', 'Paris 17e Arrondissement', 'Paris 2e Arrondissement', 'Paris 9e Arrondissement', 'Paris 20e Arrondissement', 'Paris 16e Arrondissement', 'Paris 15e Arrondissement', 'Paris 12e Arrondissement', 'Paris 8e Arrondissement', 'Paris 9e Arrondissement', 'Paris 18e Arrondissement', 'Paris 14e Arrondissement', 'Paris 9e Arrondissement', 'Paris 18e Arrondissement', 'Paris 10e Arrondissement', 'Paris 10e Arrondissement', 'Paris 15e Arrondissement', 'Paris 13e Arrondissement', 'Paris 10e Arrondissement', 'Paris 9e Arrondissement', 'Paris 9e Arrondissement', 'Paris 15e Arrondissement', 'Paris 9e Arrondissement', 'Paris 9e Arrondissement', 'Paris 6e Arrondissement', 'Paris 12e Arrondissement', 'Paris 10e Arrondissement', 'Paris 2e Arrondissement', 'Paris 5e Arrondissement', 'Paris 9e Arrondissement', 'Paris 6e Arrondissement', 'Paris 3e Arrondissement', 'Paris 9e Arrondissement', 'Paris 9e Arrondissement', 'Paris 9e Arrondissement', 'Paris 9e Arrondissement', 'Paris 15e Arrondissement', 'Paris 15e Arrondissement', 'Paris 8e Arrondissement', 'Paris 2e Arrondissement', 'Paris 2e Arrondissement', 'Paris 17e Arrondissement', 'Paris 9e Arrondissement', 'Paris 5e Arrondissement', 'Paris 15e Arrondissement', 'Paris 9e Arrondissement', 'Paris 9e Arrondissement', 'Paris 15e Arrondissement', 'Paris 8e Arrondissement', 'Paris 8e Arrondissement', 'Paris 9e Arrondissement', 'Paris 8e Arrondissement', 'Paris 9e Arrondissement', 'Paris 8e Arrondissement', 'Paris 9e Arrondissement', 'Paris 3e Arrondissement', 'Paris 17e Arrondissement', 'Paris 12e Arrondissement', 'Paris 7e Arrondissement', 'Paris 16e Arrondissement', 'Paris 9e Arrondissement', 'Paris 6e Arrondissement', 'Paris 1er Arrondissement', 'Paris 7e Arrondissement', 'Paris 9e Arrondissement', 'Paris 8e Arrondissement', 'Nanterre', 'Villejuif', 'Les Lilas', 'Bonneuil-sur-Marne', 'Bures-sur-Yvette', 'Longjumeau', 'Alfortville', 'Paris 8e Arrondissement', 'Paris 5e Arrondissement', 'Paris 8e Arrondissement', 'Paris 9e Arrondissement', 'Paris 15e Arrondissement', 'Paris 10e Arrondissement', 'Paris 9e Arrondissement', 'Boulogne-Billancourt', 'Paris 9e Arrondissement', 'Paris 9e Arrondissement', 'Montmorency', 'Montreuil', 'Paris 2e Arrondissement']

In [175]:
def get_dep(lat, lon):
    params = "lat={latitude}&lon={longitude}".format(
        latitude = lat,
        longitude = lon
    )
    base_url = 'https://geo.api.gouv.fr/communes?'
    response = requests.get(base_url, params=params)
    data = response.json()
    nom = data[0]['codeDepartement']
    return nom
codedep = []
for i,j in zip(df["latitude"], df['longitude']):
    codedep.append(get_dep(i, j))
print(len(codedep))
print(codedep)

708
['75', '94', '94', '75', '75', '94', '75', '75', '93', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '94', '75', '75', '75', '75', '75', '75', '92', '75', '94', '93', '92', '75', '75', '75', '75', '94', '92', '75', '75', '75', '75', '95', '75', '75', '75', '75', '75', '75', '92', '75', '75', '75', '75', '75', '92', '75', '92', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '95', '75', '94', '91', '75', '91', '91', '92', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '92', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '92', '75', '75', '75', '75', '94', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '92', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '92', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '93', '75', '93', '94', '75', '92', '93', '92', '75', '92', '92', '94', '75', '93', '75', '92', '91', '78', '92', '92', '91', '91', '75', '94', '92', '93', '94', '93', '93', '91', '92', '94', '91', '92', '93', '93', '91', '94', '94', '92', '91', '92', '91', '78', '95', '93', '95', '92', '94', '92', '94', '91', '92', '92', '92', '94', '91', '95', '91', '93', '78', '94', '94', '94', '92', '92', '94', '94', '94', '95', '94', '94', '91', '94', '78', '92', '92', '92', '94', '95', '94', '91', '94', '93', '93', '94', '93', '93', '92', '92', '92', '75', '93', '95', '92', '94', '93', '94', '75', '94', '95', '92', '93', '75', '75', '92', '94', '92', '75', '78', '94', '94', '93', '94', '93', '94', '94', '93', '92', '75', '92', '93', '75', '93', '92', '75', '75', '75', '92', '75', '75', '75', '75', '93', '92', '75', '94', '75', '92', '75', '93', '75', '75', '92', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '93', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '92', '75', '75', '75', '92', '75', '75', '75', '75', '75', '75', '75', '92', '75', '75', '75', '94', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '92', '75', '94', '93', '75', '75', '75', '93', '75', '75', '75', '75', '75', '75', '92', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '92', '75', '75', '75', '75', '75', '75', '75', '92', '75', '92', '75', '75', '75', '75', '75', '75', '75', '92', '94', '75', '75', '75', '75', '75', '75', '75', '92', '75', '75', '75', '75', '75', '92', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '92', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '92', '94', '93', '94', '91', '91', '94', '75', '75', '75', '75', '75', '75', '75', '92', '75', '75', '95', '93', '75']

In [177]:
print(len(df['prices']))
dt.dropna(subset=["prices"])
print(len(df['prices']))

708
708

In [178]:
#prices
import numpy as np
for i in range(len(df["prices"])):
         if df["prices"][i] is np.nan:
             print(i)
#a = dt['prices'].mean()
#print(a)
#dt["adresse"].fillna(a, inplace = True)

331
406
546
647
686

In [180]:
import numpy as np
price = []
for t in df["prices"]:
    if t is not np.nan:
        token = WordPunctTokenizer().tokenize(t)
        price.append(int(token[1]))
a = 0
for i in price :
    a = a + i
mean = a // len(price)
m = str(mean)
print(type(m))

<class 'str'>

In [181]:
prices = []
for t in df["prices"]:
    if t is not np.nan:
        token = WordPunctTokenizer().tokenize(t)
        prices.append(int(token[1]))
    else : prices.append(m)
print(prices)

[992, 962, 668, 906, 590, 684, 991, 736, 548, 991, 991, 992, 646, 991, 991, 872, 702, 555, 595, 624, 555, 1141, 654, 1200, 695, 666, 679, 1019, 721, 1358, 1132, 1178, 849, 611, 1433, 1075, 1059, 1390, 1190, 984, 784, 666, 1564, 1379, 535, 1041, 816, 826, 1095, 1309, 814, 783, 1140, 1176, 1170, 1081, 1116, 1461, 1381, 1414, 633, 547, 618, 513, 595, 519, 528, 574, 883, 579, 590, 588, 559, 556, 897, 624, 635, 851, 546, 662, 614, 798, 655, 572, 895, 660, 2410, 1984, 1984, 1984, 1515, 1959, 2490, 2288, 644, 3984, 3489, 355, 286, 274, 281, 262, 320, 427, 329, 502, 396, 445, 267, 284, 463, 383, 362, 342, 323, 269, 322, 349, 327, 428, 397, 287, 336, 386, 419, 262, 353, 273, 393, 466, 316, 271, 374, 452, 398, 266, 268, 416, 268, 317, 336, 396, 338, 406, 338, 491, 366, 380, 382, 371, 441, 478, 508, 329, 425, 433, 369, 279, 491, 297, 378, 458, 350, 359, 283, 435, 329, 356, 389, 320, 274, 415, 410, 447, 369, 276, 443, 336, 505, 298, 391, 290, 376, 348, 465, 395, 386, 423, 294, 482, 395, 264, 336, 270, 346, 273, 285, 356, 389, 290, 359, 316, 330, 360, 432, 307, 312, 371, 380, 344, 386, 400, 267, 425, 286, 293, 409, 327, 355, 297, 436, 421, 327, 337, 349, 404, 335, 436, 360, 470, 400, 446, 378, 316, 370, 344, 396, 340, 334, 297, 493, 323, 268, 410, 290, 491, 436, 340, 336, 405, 262, 286, 366, 304, 340, 266, 426, 380, 302, 349, 387, 447, 469, 441, 462, 359, 307, 302, 356, 334, 329, 491, 286, 277, 327, 307, 467, 330, 416, 335, 345, 344, 386, 292, 272, 313, 467, 336, 418, 377, 435, 369, 262, 341, 302, 497, 484, 327, 377, 502, 397, 317, 382, 509, 991, 991, 744, 1190, 99, 46, 74, 90, 72, 122, 57, 89, 110, 46, 118, 45, 119, 122, 61, 49, 45, 51, 91, 40, 64, 77, 63, '341', 199, 75, 163, 60, 40, 124, 109, 130, 134, 68, 54, 90, 23, 107, 154, 99, 94, 68, 204, 104, 85, 33, 22, 149, 133, 41, 90, 77, 62, 132, 191, 90, 178, 29, 90, 120, 75, 83, 119, 103, 215, 63, 149, 79, 38, 121, 57, 38, 121, 58, 130, 93, 127, 98, 81, 47, 135, 40, 80, 38, 79, 54, 36, 85, 107, 68, 128, 73, 49, 135, 58, 73, 125, 74, '341', 133, 71, 51, 98, 80, 46, 98, 118, 50, 102, 46, 83, 42, 51, 66, 61, 108, 94, 49, 109, 119, 121, 98, 62, 51, 51, 76, 147, 140, 80, 73, 80, 67, 107, 85, 45, 102, 63, 90, 181, 89, 124, 43, 105, 128, 103, 65, 135, 174, 132, 132, 135, 116, 169, 130, 65, 134, 50, 95, 109, 132, 135, 123, 134, 130, 173, 145, 175, 142, 217, 162, 203, 213, 137, 226, 232, 226, 240, 204, 199, 175, 237, 162, 246, 149, 184, 179, 143, 190, 162, 232, 247, 207, 229, 162, 197, 185, 223, 157, 223, 223, 209, 140, 218, 154, 188, 218, 155, 196, 205, 233, 160, 168, 181, 227, 256, 197, 169, 171, 178, 192, 257, 185, 218, 232, 204, 156, 226, 223, 202, 196, 211, 148, 217, 190, 233, 195, 197, 146, '341', 228, 178, 190, 140, 249, 197, 247, 238, 251, 231, 158, 247, 224, 249, 154, 258, 216, 158, 205, 173, 188, 229, 244, 164, 177, 179, 249, 218, 222, 157, 205, 240, 156, 209, 218, 151, 283, 175, 153, 197, 147, 259, 220, 189, 253, 232, 137, 197, 197, 240, 172, 186, 139, 205, 205, 196, 227, 211, 142, 247, 201, 223, 202, 216, 243, 184, 169, 163, 234, 205, 190, 174, 217, 218, 177, 247, 233, 228, 204, 212, 252, 249, 184, 149, 137, 207, 151, 237, 192, 202, 248, 176, 143, 238, 253, 164, 228, 267, 204, 179, '341', 231, 209, 172, 178, 179, 256, 223, 205, 191, 204, 151, 165, 194, 209, 149, 196, 145, 229, 194, 188, 158, 202, 195, 217, 198, 151, 522, 194, 149, 387, 461, 430, 356, 364, 465, 393, 402, 405, '341', 135, 70, 42, 204, 40, 84, 102, 94, 126, 89, 118, 213, 198, 258, 188, 149, 233, 184, 89, 90, 123]

In [182]:
for i in range(len(df["numberOfGuests"])):
         if df["numberOfGuests"][i] is np.nan:
             print(i)

In [183]:
id = dt['id']
print(len(id))
print(len(anc))
print(len(dt["rating"]))
print(len(nom_commune))
print(len(codedep))
print(len(prices))
print(len(df["numberOfGuests"]))

708
708
708
708
708
708
708

In [187]:
d = {'type': anc, 'nom_commune':nom_commune, 'code_departement': codedep, 'prix': prices, 'numberOfGuests': df["numberOfGuests"], 'rating': df["rating"]}
#for i in range(len(id)):
 #   d1 = {'id':id[i], 'type': anc[i], 'nom_commune':nom_commune[i], 'code_departement': codedep[i], 'prix': prices[i], 'numberOfGuests': df["numberOfGuests"][i], 'rating': dt["rating"][i]}
rt = pd.DataFrame(data=d)
rt.to_csv('airbnb_data_simple')
rt

,type,nom_commune,code_departement,prix,numberOfGuests,rating
0,Room,Paris 20e Arrondissement,75,992,2,4.5
1,Room,Fontenay-sous-Bois,94,962,2,4.5
2,Entire Home,Chennevières-sur-Marne,94,668,15,5.0
3,Room,Paris 18e Arrondissement,75,906,1,4.5
4,Room,Paris 13e Arrondissement,75,590,2,4.5
...,...,...,...,...,...,...
703,Room,Paris 9e Arrondissement,75,233,2,5.0
704,Room,Paris 9e Arrondissement,75,184,1,5.0
705,Entire Home,Montmorency,95,89,2,4.5
706,Room,Montreuil,93,90,2,4.5
707,Entire Home,Paris 2e Arrondissement,75,123,2,4.5

In [192]:
d1 = {'type': troom, 'nom_commune':nom_commune, 'code_departement': codedep, 'prix': prices, 'numberOfGuests': df["numberOfGuests"], 'rating': df["rating"]}
#for i in range(len(id)):
 #   d1 = {'id':id[i], 'type': anc[i], 'nom_commune':nom_commune[i], 'code_departement': codedep[i], 'prix': prices[i], 'numberOfGuests': df["numberOfGuests"][i], 'rating': dt["rating"][i]}
rt1 = pd.DataFrame(data=d1)
rt1.to_csv('airbnb_data_encoded')
rt1

,type,nom_commune,code_departement,prix,numberOfGuests,rating
0,1,Paris 20e Arrondissement,75,992,2,4.5
1,1,Fontenay-sous-Bois,94,962,2,4.5
2,2,Chennevières-sur-Marne,94,668,15,5.0
3,1,Paris 18e Arrondissement,75,906,1,4.5
4,1,Paris 13e Arrondissement,75,590,2,4.5
...,...,...,...,...,...,...
703,1,Paris 9e Arrondissement,75,233,2,5.0
704,1,Paris 9e Arrondissement,75,184,1,5.0
705,2,Montmorency,95,89,2,4.5
706,1,Montreuil,93,90,2,4.5
707,2,Paris 2e Arrondissement,75,123,2,4.5